<nav class="navbar navbar-inverse bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Audio Playlist</a>
  </div>
</nav>
<div class="container">
  <form>
    <div class="input-group input-group-lg">
      <!--<span class="input-group-addon" id="sizing-addon1"><img src="assets/soundcloud_black.png" height="30"></span>-->
      <input #query type="text" class="form-control" placeholder="Search" aria-describedby="sizing-addon1">
      <button class="btn btn-warning" (click)="searchSoundCloud(query.value)">Search</button>
    </div>
  </form>
</div>
<div class="list-group">
  <a href="#" *ngFor="let track of soundCloudResults" (click)="addTrack(track)" [class.active]="track === currentTrack" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ track.artist }}</h5>
    </div>
    <p class="mb-1">{{ track.song }}</p>
  </a>
</div>
<app-audio-playlist [playlist]="myPlaylist"></app-audio-playlist>

