<nav class="navbar navbar-inverse bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Audio Playlist</a>
  </div>
</nav>
<div class="container">
  <form>
    <div class="input-group input-group-lg">
      <input #query type="text" class="form-control" placeholder="Search" aria-describedby="sizing-addon1">
      <button class="btn btn-warning" (click)="searchSoundCloud(query.value)">Search</button>
    </div>
  </form>
</div>
<div class="list-group">
  <a href="#" *ngFor="let track of soundCloudResults" (click)="addTrack(track)" [class.active]="track === currentTrack" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ track.artist }}</h5>
    </div>
    <p class="mb-1">{{ track.song }}</p>
  </a>
  <!--<div style="display: table; border: 1px solid black; height:  420px; width: 420px;">
      <div style="border: 1px solid black; display: table-row; text-align: center; width: 100%; height: 50%;">
        <div style="display: table-cell; border: 1px solid black; width: 100%; vertical-align: middle;">
          <img src="https://i1.sndcdn.com/artworks-000031540797-8io3vh-t500x500.jpg" height="30%">
        </div>
      </div>
      <div style="display: table-row; text-align: center; width: 100%; height: 50%; position: relative;">
        <div style="vertical-align: middle; display: table-cell; border: 1px solid black; width: 100%;">
          test
        </div>
      </div>
  </div>-->
</div>
<app-audio-playlist [playlist]="myPlaylist"></app-audio-playlist>



