<div class="d-flex flex-row justify-content-start align-items-center">
  <div class="p-2">
    <img [src]="track.image">
    {{ track.artist }}<br>
    {{ track.song }}<br>
    {{ timeElapsed }} {{ timeRemaining }}<br>
    {{ percentLoaded }}% loaded<br>
    {{ percentElapsed }}% elapsed
  </div>
  <div class="p-2">
    <button (click)="toggleAudio()" [ngSwitch]="playerStatus" [disabled]="playerStatus === 'loading'" type="button" class="btn btn-link">
      <div *ngSwitchCase="'paused'" class="icon-play" aria-hidden="true"></div>
      <div *ngSwitchCase="'playing'" class="icon-pause" aria-hidden="true"></div>
      <div *ngSwitchCase="'loading'" class="spinner icon-loading" aria-hidden="true"></div>
    </button>
  </div>
  <input type="range" min="0" max="100" (change)="seekAudio($event)" [value]="percentElapsed">

</div>
