<!--<div class="d-flex flex-row justify-content-start align-items-center">
  <div class="p-2">
    <img [src]="track.image">
    {{ track.artist }}<br>
    {{ track.song }}<br>
    {{ timeElapsed }} {{ timeRemaining }}<br>
    {{ percentLoaded }}% loaded<br>
    {{ percentElapsed }}% elapsed
  </div>
  <div class="p-2">
    <button (click)="toggleAudio()" [ngSwitch]="playerStatus" [disabled]="playerStatus === 'loading'" type="button" class="btn btn-link">
      <div *ngSwitchCase="'paused'" class="icon-play" aria-hidden="true"></div>
      <div *ngSwitchCase="'playing'" class="icon-pause" aria-hidden="true"></div>
      <div *ngSwitchCase="'loading'" class="spinner icon-loading" aria-hidden="true"></div>
    </button>
  </div>
  <input type="range" min="0" max="100" (change)="seekAudio($event)" [value]="percentElapsed">
</div>-->
<div class="audiobar">
  <div class="elapsed-container">
    <div [style.width]="percentLoaded+'%'" class="percent-loaded"></div>
    <div [style.width]="percentElapsed+'%'" class="percent-elapsed"></div>
</div>
  <div class="audiobar-layout">
    <div class="audiobar-image">
      <img [src]="track.image">
    </div>
    <div class="audiobar-info-container">
      <div class="audiobar-info">
        <h3>{{ track.artist }}</h3>
        <h4>{{ track.song }}</h4>
      </div>
    </div>
    <div class="audiobar-controls-container">
      <div class="audiobar-controls">
        <button (click)="toggleAudio()" [ngSwitch]="playerStatus" [disabled]="playerStatus === 'loading'" type="button">
          <div *ngSwitchCase="'paused'" class="icon-play" aria-hidden="true"></div>
          <div *ngSwitchCase="'playing'" class="icon-pause" aria-hidden="true"></div>
          <div *ngSwitchCase="'loading'" class="spinner icon-loading" aria-hidden="true"></div>
        </button>
      </div>
  </div>
</div>
